$bg: rgb(16, 16, 16);

.banner {
    height: 300px;
    background-color: $bg;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: $bg;
        opacity: 0.4;
    }
    h1,
    p {
        color: white;
        font-size: 1rem;
        width: 40%;
        z-index: 10;
    }
    p {
        font-size: .8rem;
        letter-spacing: 2px;
        word-spacing: 3px;
        font-weight: 100;
    }
    > div {
        display: flex;
        button {
            padding: 1rem;
            width: 150px;
            outline: none;
            border: none;
            z-index: 10;
            font-size: 0.8rem;
            border-radius: 5px;
            margin: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s;
            &:hover {
                opacity: 0.6;
            }
            &:nth-child(odd) {
                background-color: white;
                color: black;
            }

            &:nth-child(even) {
                background-color: rgb(57, 57, 57);
                color: rgb(255, 255, 255);
            }
            svg {
                font-size: 1.2rem;
                margin: 0 10px;
            }
        }
    }
}

.row {
    background-color: $bg;
    padding: 1rem;
    > h2 {
        margin: 0.3rem;
        font-weight: 400;
    }
    > div {
        display: flex;
        // justify-content: space-evenly;
        overflow-x: auto;
        // justify-content: center;
    }
}

.card {
    width: 200px;
    cursor: pointer;
    margin: .4rem;
    transition: transform 0.5s;

    &:hover {
        transform: translateY(10px)
      
    }
}

.genreBox {
    overflow-x: auto;
    display: flex;
    height: 100px;
    background-color: $bg;
    flex: 0;
    > a {
        color: black;
        background-color: white;
        padding: 1rem 0;
        border-radius: 10px;
      
        transition: all 0.5s;

        min-width: 10rem;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgb(236, 236, 236);
        }
    }
}
